# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Vite cache
.vite/

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables
.env
.env.local
*.log
node_modules
